# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
# .venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
static/
media/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Sensitive
.env
secret_key.txt
